@charset "UTF-8";

@font-face {
    font-family: 'Passion';
    src: url(fonts/Passion_One/PassionOne-Bold.ttf);
}

@font-face {
    font-family: 'Sriracha';
    src: url(fonts/Sriracha/Sriracha-Regular.ttf);
}


*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: white;
    color: black;
}

header{
    height: 185px;
    width: auto;
    padding-top: 64px;
    background-color: black;
    color: white;
    font-family: 'Passion';
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
}

article {
    height: 550px;
    padding-top: 50px;
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


header > p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 22px;
}

p{
    font-family: 'Sriracha';
    font-weight: normal;
    font-size: 1.5em;
}

footer > p{
    background-color: rgba(0, 0, 0, 0.671);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

.paragrafo{

    margin: 60px;
    margin-bottom: 218px;
    padding: 10px;
}

#girassol{
    height: 314px;
    width: 318px;
    background-color: rgba(0, 0, 0, 0.329);
    color: white;
}

#paginas{
    color: white;
    background-color: black;
    background-image: url(imagens/background002.jpg);
    height: 550px;
}